<!DOCTYPE html>
<head>
    <title><%=PAGE_TITLE%></title>
    
    <!--Socket IO-Client from Node Modules-->
    <script type="text/javascript" src="../socket.io/socket.io.js"></script>

    <!--JQuery From Google Code -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!--Leap Motion-->
    <script src="./javascripts/leap.min.js"></script>

    <!--JS file for writing our own sockets-->
    <script type="text/javascript" src="./javascripts/functions.js"> 
    </script>




</head>
<body onload="checkLibrary()">
<h1>Leap JavaScript Sample</h1>
    <div id="main">
      <h2>Frame data:</h2>
      <div id="frameData"></div>
      <h2>Hand data:</h2>
      <div id="handData"></div>
      <div style="clear:both;"></div>
      <h2>Finger and tool data:</h2>
      <div id="pointableData"></div>
    </div>
</body>
</html>
